* {
    margin: 0;
    padding: 0;

}

body {
    background-color: cadetblue;
    margin: 0;
}

.navbar {
    background-color: green;
    border-radius: 2px;
    

}

.navbar ul {

    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-left: 200px;

}

.navbar li {
    
    transition: background-color 0.3s ease;
    text-align: center;

}
.nav-divider {
    width: 6px;
    height: 60px; /* Adjust height as needed */
    background-color: #ccc;
    margin: 60px 20px; /* Space on both sides */
    display: inline-block;
    vertical-align: middle;
    
}

.navbar li:hover {

    background-color: lawngreen;
}

.navbar li a {

    color: white;
    font-size: larger;
    display: block;
    text-decoration: none;
    padding: 60px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

}

.navbar li:hover a {

    color: black;
}

.logo {

    transform: scale(0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 85px;
    height: auto;
    margin-top: -65px;
    margin-left: -17px;

}
.signinlogo{

    transform: scale(0.15);
    position: absolute;
    top: -170px;
    right: 80px;
    width: 85px;
    height: auto;
    padding: 10px 15px;
    transition: transform 0.3s ease, color 0.3s ease;
    white-space: nowrap;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

}

.signinlogo span {
    font-size: 100px !important;
}

.signinlogo span a {
    text-decoration: none;
    color: white;
    display: block;
}

.signinlogo:hover{
    transform: scale(0.23);

    
}

.signinlogo span:hover a {
    color: black;
}

footer {
background-color: #1f2e2e;
color: white;
padding: 90px;
}